# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.6.3
numpy>=1.20.3
opencv_python==4.7.0.68
Pillow>=9.4.0
PyYAML==6.0
requests==2.28.2
scipy==1.10.0
torch>=1.9.1
torchvision>=0.10.1
tqdm==4.64.1

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas==1.5.3
seaborn==0.12.2

thop 

# Extras -----------
streamlit
psutil
